<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Escolha seu Cadastro</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
  <main class="conteudo-principal">
    <section class="painel-esquerdo">
      
    </section>

    <section class="painel-direito">
      <header class="cabecalho-login">
        <h1>Olá!<br><span class="marca">Sheephuber</span></h1>
        <h2>Desejo me cadastrar como</h2>
      </header>

      <a href="usuario.html"><button type="submit" class="botao-usuario">Usuário</button></a>
      <a href="lider.html"><button type="submit" class="botao-igreja">Líder Religioso</button></a>

      <p class="texto-cadastro">
          Já possui uma conta? <a href="login.html">Faça Login</a>
      </p

    </section>
  </main>
</body>
</html>