<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard SheepHub</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="../views/assets/css/cadastroMeta.css">
</head>
<body>

    <div class="container-principal">
        <aside id="menu-lateral" class="menu-lateral">
            <a href="#" class="logo">
                
                <span>SheepHub</span>
            </a>
            <nav>
                <a href="#" class="link-navegacao"><span>Feed</span></a>
                <a href="#" class="link-navegacao"><span>Mensagens</span></a>
                <a href="#" class="link-navegacao"><span>Eventos</span></a>
                <a href="#" class="link-navegacao"><span>Igrejas</span></a>
                <a href="#" class="link-navegacao"><span>Meu perfil</span></a>
                <a href="#" class="link-navegacao ativo"><span>Dashboard</span></a>
                <button class="botao-postar">Postar</button>
            </nav>
            <div>
                <a href="#" class="link-navegacao"><span>Configurações</span></a>
                <a href="#" class="link-navegacao"><span>Sair</span></a>
            </div>
        </aside>

        <div id="fundo-overlay" class="hidden"></div>

        <div class="conteudo-principal">
            <header class="cabecalho">
                <button id="botao-menu" class="botao-menu"></button>
                <div class="busca-container">
                    <input type="text" placeholder="Pesquisar" class="campo-busca">
                </div>
                <div class="acoes-cabecalho">
                    <div class="info-perfil">
                        <img src="https://placehold.co/40x40/E2E8F0/4A5568?text=CS" alt="Avatar">
                        <div class="texto-perfil">
                            <p><strong>Clara Silva</strong></p>
                            <p style="font-size: 0.8rem; color: var(--cor-texto-secundario)">Membro</p>
                        </div>
                    </div>
                </div>
            </header>
        </div>
    </div>

    <main>
        <a id="voltar" href="../views/criarMeta.html"><i class='bxr  bxs-arrow-left'></i></a>
        <div class="titulo">
            <h3>Cadastro de meta</h3>
        </div>

        <form action="" method="POST">

            <!-- Nome da meta -->
            <div class="campo area1">
                <div class="input-com-icone">
                <span class="icone"> <i class='bx icon bxs-plus'></i> </span>
                <input type="text" id="nome_meta" name="nome_meta" placeholder="Digite o nome da meta" required>
                </div>
            </div>

            <!-- Ícones -->
            <div class="campo area2">
                <p class="desc" >Escolha um ícone</p>
                <section id="icones-campo">
                    <div class="icones">
                    <input type="radio" id="icone1" name="icone" value="aviao" required>
                    <label for="icone1" class="botao-icone"><i class="bx icon selecionaIcon bxs-plane-alt"></i></label>

                    <input type="radio" id="icone2" name="icone" value="martelo">
                    <label for="icone2" class="botao-icone"><i class='bx icon selecionaIcon bxs-blocks'  ></i> </label>

                    <input type="radio" id="icone3" name="icone" value="dinheiro">
                    <label for="icone3" class="botao-icone"><i class='bx icon selecionaIcon bxs-currency-note'  ></i> </label>

                    <input type="radio" id="icone4" name="icone" value="livro">
                    <label for="icone4" class="botao-icone"><i class='bx icon selecionaIcon bxs-book-alt'  ></i> </label>
                    </div>
                </section>
            </div>

            <!-- Informações -->
            <p class="desc" >Outras informações</p>
            <div class="informacoes">

                <div class="campo cards">
                <label class="card-label" for="objetivo">Objetivo</label>
                <input class="card-input" type="number" id="objetivo" name="objetivo" placeholder="R$100,00" min="0" step="0.01" required>
                </div>

                <div class="campo cards">
                <label class="card-label" for="investimento">Investimento</label>
                <input class="card-input" type="number" id="investimento" name="investimento" placeholder="R$50,00" min="0" step="0.01" required>
                </div>
            </div>

            <button type="submit" class="btn-salvar">Salvar</button>
        </form>
    </main>

    <script src="../views/assets/js/cadastroMeta.js"></script>
</body>
</html>
            