<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard SheepHub</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="../views/assets/css/criarMeta.css">
</head>
<body>

    <div class="container-principal">
        <aside id="menu-lateral" class="menu-lateral">
            <a href="#" class="logo">
                
                <span>SheepHub</span>
            </a>
            <nav>
                <a href="#" class="link-navegacao"><span>Feed</span></a>
                <a href="#" class="link-navegacao"><span>Mensagens</span></a>
                <a href="#" class="link-navegacao"><span>Eventos</span></a>
                <a href="#" class="link-navegacao"><span>Igrejas</span></a>
                <a href="#" class="link-navegacao"><span>Meu perfil</span></a>
                <a href="#" class="link-navegacao ativo"><span>Dashboard</span></a>
                <button class="botao-postar">Postar</button>
            </nav>
            <div>
                <a href="#" class="link-navegacao"><span>Configurações</span></a>
                <a href="#" class="link-navegacao"><span>Sair</span></a>
            </div>
        </aside>

        <div id="fundo-overlay" class="hidden"></div>

        <div class="conteudo-principal">
            <header class="cabecalho">
                <button id="botao-menu" class="botao-menu"></button>
                <div class="busca-container">
                    <input type="text" placeholder="Pesquisar" class="campo-busca">
                </div>
                <div class="acoes-cabecalho">
                    <div class="info-perfil">
                        <img src="https://placehold.co/40x40/E2E8F0/4A5568?text=CS" alt="Avatar">
                        <div class="texto-perfil">
                            <p><strong>Clara Silva</strong></p>
                            <p style="font-size: 0.8rem; color: var(--cor-texto-secundario)">Membro</p>
                        </div>
                    </div>
                </div>
            </header>
        </div>
    </div>

    <main>
        <a id="voltar" href=""><i class='bxr  bxs-arrow-left'></i></a>
        <div class="titulo">
            <h3>Metas em andamento</h3>
            <a class="add" href=""><i class='bx bxs-plus' ></i></a>
        </div>

        <section class="andamento">
            <div class="linha">
                <div class="progresso-card">
                   <div class="icone">
                        <i class='bxr icone-amarelo bxs-plane-alt'></i>
                   </div>
                   <div class="detalhes-meta">
                        <p class="nome-meta">Viagem missionária</p>
                        <div class="barra-progresso">
                            <progress value="70" max="100"></progress>
                            <p class="percentual-meta">70%</p>
                        </div>
                   </div>
                </div>

                <div class="acoes">
                    <button class="acao menu-btn">
                        <i class='bx acao bxs-dots-vertical-rounded'></i>
                    </button>

                    <div class="menu-modal">
                        <ul>
                            <li class="editar"><i class='bx bxs-edit'></i> Editar</li>
                            <li class="remover"><i class='bx bxs-trash'></i> Excluir</li>
                            <li class="ver"><i class='bx bxs-book'></i> Ver detalhes</li>
                        </ul>
                    </div>
                </div>
            </div>

             <div class="linha">
                <div class="progresso-card">
                   <div class="icone">
                        <i class='bxr icone-amarelo bxs-plane-alt'></i>
                   </div>
                   <div class="detalhes-meta">
                        <p class="nome-meta">Viagem missionária</p>
                        <div class="barra-progresso">
                            <progress value="70" max="100"></progress>
                            <p class="percentual-meta">70%</p>
                        </div>
                   </div>
                </div>
                <div class="acoes">
                    <button class="acao menu-btn">
                        <i class='bx acao bxs-dots-vertical-rounded'></i>
                    </button>

                    <div class="menu-modal">
                        <ul>
                            <li class="editar"><i class='bx bx-edit-alt'></i> Editar</li>
                            <li class="remover"><i class='bx bx-trash'></i> Excluir</li>
                            <li class="ver"><i class='bx bx-show-alt'></i> Ver detalhes</li>
                        </ul>
                    </div>
                </div>
            </div>

             <div class="linha">
                <div class="progresso-card">
                   <div class="icone">
                        <i class='bxr icone-amarelo bxs-plane-alt'></i>
                   </div>
                   <div class="detalhes-meta">
                        <p class="nome-meta">Viagem missionária</p>
                        <div class="barra-progresso">
                            <progress value="70" max="100"></progress>
                            <p class="percentual-meta">70%</p>
                        </div>
                   </div>
                </div>
                <div class="acoes">
                    <button class="acao menu-btn">
                        <i class='bx acao bxs-dots-vertical-rounded'></i>
                    </button>

                    <div class="menu-modal">
                        <ul>
                            <li class="editar"><i class='bx bx-edit-alt'></i> Editar</li>
                            <li class="remover"><i class='bx bx-trash'></i> Excluir</li>
                            <li class="ver"><i class='bx bx-show-alt'></i> Ver detalhes</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <h3>Metas concluídas</h3>
        <section class="concluidas">
             <div class="linha">
                <div class="progresso-card">
                   <div class="icone">
                        <i class='bxr icone-amarelo bxs-plane-alt'></i>
                   </div>
                   <div class="detalhes-meta">
                        <p class="nome-meta">Viagem missionária</p>
                        <div class="barra-progresso">
                            <progress value="70" max="100"></progress>
                            <p class="percentual-meta">70%</p>
                        </div>
                   </div>
                </div>
                <div class="acoes">
                    <a href=""><i class='bxr acao seleciona bxs-check'  ></i> </a>
                </div>
            </div>

            <div class="linha">
                <div class="progresso-card">
                   <div class="icone">
                        <i class='bxr icone-amarelo bxs-plane-alt'></i>
                   </div>
                   <div class="detalhes-meta">
                        <p class="nome-meta">Viagem missionária</p>
                        <div class="barra-progresso">
                            <progress value="70" max="100"></progress>
                            <p class="percentual-meta">70%</p>
                        </div>
                   </div>
                </div>
                
                <div class="acoes">
                    <a href=""><i class='bxr acao seleciona bxs-check'  ></i> </a>
                </div>
                </div>


            </div>
        </section>

    </main>

    <script src="../views/assets/js/criarMeta.js"></script>
</body>
</html>
            