#page-content {
    border: 3px solid rgba(128, 128, 128, 0.369);
    border-radius: 10px;
    max-width: 800px;
    min-height: 400px;
    gap: 20px;
}

main {
    margin-left: 8%;
    width: 100vw;
    height: 90%;
    margin-top: 6%;
} 

main span {
    color: #80CDEB;
}
